<%-include('../partial/boiler')%>
<body class="h-full bg-gray-50">
    <%-include('../partial/nav') %>
<div class="h-full bg-gray-100 flex items-center justify-center">

  <div class="text-center">
    <h1 class="text-9xl font-bold text-red-500 mb-4">BOOKING!</h1>
    <h2 class="text-2xl md:text-3xl font-semibold mb-2">MY BOOKING</h2>
    <p class="text-gray-600 mb-6">HERE YOU CAN SEE THE LIST OF BOOKING.</p>
  </div>
</div>
</body>
</html>