<form action="/favourite" method="POST">
          <button class="w-full bg-green-500 text-white py-2 rounded-lg hover:bg-green-600 transition">
            Add to favourite
          </button>
          <input type="hidden" name="id" value="<%= house.id %>"/>
          </form>